CleanHead/App_WebReferences/Cities/Cities.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCities">
        <s:complexType />
      </s:element>
      <s:element name="GetCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cty_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:IsExist" />
  </wsdl:message>
  <wsdl:message name="IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:IsExistResponse" />
  </wsdl:message>
  <wsdl:portType name="CitiesSoap">
    <wsdl:operation name="GetCities">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get DataSet of all cities in Israel</wsdl:documentation>
      <wsdl:input message="tns:GetCitiesSoapIn" />
      <wsdl:output message="tns:GetCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check if city exist</wsdl:documentation>
      <wsdl:input message="tns:IsExistSoapIn" />
      <wsdl:output message="tns:IsExistSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CitiesSoap" type="tns:CitiesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <soap:operation soapAction="http://tempuri.org/IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CitiesSoap12" type="tns:CitiesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCities">
      <soap12:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <soap12:operation soapAction="http://tempuri.org/IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cities">
    <wsdl:port name="CitiesSoap" binding="tns:CitiesSoap">
      <soap:address location="http://localhost:41313/wsCities/Cities.asmx" />
    </wsdl:port>
    <wsdl:port name="CitiesSoap12" binding="tns:CitiesSoap12">
      <soap12:address location="http://localhost:41313/wsCities/Cities.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>